*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
}

body {
  padding: 0;
  margin: 0;
  background-color: #f1f1f1;
  color: #151515;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  font-size: 1rem;
  line-height: 1.5;
}

button,
input {
  font: inherit;
}

input {
  border: none;
  background: transparent;
}

h1,
h2,
p {
  margin: 0;
}

.wrapper {
  padding: 1rem;
  width: 100%;
  max-width: 300px;
padding: 12px;
  border-radius: 6px;
  border: 1px solid red;
}

.icon-wrapper {
  display: inline-flex;
  justify-content: center;
  border: 1px solid black;
  border-radius: 20px;
  padding: 6px;
}

.card-labels {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  margin-block: 12px;
}

.label {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  border-radius: 30px;
  font-size: 12px;
  padding: 2px 8px;
}
